body {
	padding:0;
	margin:0;
	background-color: rgb(255,255,255)
	text-allign:center;
	font-family: 'Creepster', cursive;
	color:rgb(5,89,450);
}
ul{
	text-allign:center;
	font-family: 'Creepster', cursive;
	color:rgb(5,89,450);
}
.header{
	background-image:url("space.jpg");
height: 500px;
background-size: : cover;
}