body {
	padding:0;
	margin:0;
}
li{
	list-style-type: none;
	margin:0px 120px;
}
ul{
	text-allign:center;
	
}
ul > li {
	display: inline-block;
	zoom:1.5;
	padding: 10px;
}
.header{
background-image:url("space.jpg"); 
height:600px;
background-size: cover;
text-align: center;
padding-top: 150px;
font-family: Georgia;
Color:rgb(255,255,255);
}
.navigation{
	background-color: rgba(255,255,255,0.5);
	overflow-y: auto;
	position: fixed;
	left:0;
	top:0;
	text-align:center;
	width: 100%;
	font-family: 'Fontdiner Swanky', cursive;
	padding: 16px;


}
h1{
	margin:0;
}
.paragraph{
	background-color: rgb(255,255,255)
	text-allign:center;
	font-family: comic sans, cursive;
	color:rgb(5,89,450);
}