body {
	padding:0;
	background-color: rgb(255,255,255)
	text-allign:center;
	font-family: 'Creepster', cursive;
	color:rgb(5,89,450);
	margin:0;
}
li{
	list-style-type: none;
}
ul{
	text-allign:center;
	font-family: 'Creepster', cursive;
	color:rgb(5,89,450);
}
ul > li {
	display: inline-block;
	zoom:1;
	margin: auto;
	padding: 10px;
}
.header{
height: 300px
background-image:url("space.jpg");
background-size: : cover;
}
.navigation{
	background-color: rgba(255,255,255,0.5);
	overflow-y: auto;
	position: fixed;
	left:0;
	top:0;
	text-align:center;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin: 50px;

}
h1{
	margin:0;
}